<template>
  <div class="home">
    <SearchInput @updatedSearch="queryCharacters" />
    <div class="loader" v-if="loading">Loading..</div>
    <div class="characters" v-else-if="characters.length > 0 && paginatedCharacters.length > 0">
      <Character
        v-for="character in paginatedCharacters"
        :key="character.name"
        :characterData="character"
      />
    </div>
    <div class="error" v-else>
      No characters found :(
    </div>
    <Pagination
      v-if="characters.length > 0"
      @sliceIndexUpdated="paginateDate"
      :amountOfItems="characters.length"
      itemsPerPage=4
      ref="pagination"
    />

  </div>
</template>

<script>
import gql from 'graphql-tag';

import Character from '@/components/Character.vue';
import Pagination from '@/components/Pagination.vue';
import SearchInput from '@/components/SearchInput.vue';

const getCharacterQuery = name => gql`
  query {
    fetchCharacterSlim(name: "${name || ''}") {
      name
      birthYear
      infoLink
    }
  }
`;

export default {
  name: 'home',
  components: {
    Character,
    Pagination,
    SearchInput,
  },
  mounted() {
    this.queryCharacters();
  },
  methods: {
    async queryCharacters(name) {
      this.loading = true;
      const { data } = await this.$apollo.query({ query: getCharacterQuery(name) });
      this.characters = data.fetchCharacterSlim;
      this.loading = false;
    },
    paginateDate(sliceIndex) {
      // Slice data with offsets provided from pagination component
      this.paginatedCharacters = this.characters.slice(sliceIndex.start, sliceIndex.end);
    },
  },
  watch: {
    characters() {
      if (this.$refs.pagination) { this.$refs.pagination.$emit('dataUpdated'); }
    },
  },
  data: () => ({
    loading: true,
    characters: [],
    paginatedCharacters: [],
  }),
};
</script>
<style lang="scss">
.characters {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  max-width: 560px;

  @media only screen and (max-width: 560px) {
    flex-direction: column;
  }
}
.error {
  margin-top: 1rem;
}
</style>
