<template>
  <div class="character">
    <p class="character__name">{{ characterData.name }}</p>
    <p class="character__birthYear">Born: {{ characterData.birthYear }}</p>
    <p class="character__movies" v-if="appearsIn.length > 0">
      <!-- Making movies plural if there's more than one -->
      Movie{{ appearsIn.length > 1 ? 's' : '' }}:
      <span v-for="(movie, index) in appearsIn" :key="movie">
        <!-- Add trailing comma if not last -->
        {{movie}}{{ appearsIn.length - 1 > index ? ', ' : ''}}
      </span>
    </p>
    <p v-else-if="loadingMovies">Loading..</p>
    <button v-else class="character__more" @click="fetchMovies">Show movies!</button>
  </div>
</template>

<script>
import gql from 'graphql-tag';

const getCharacterQuery = name => gql`
  query {
    fetchCharacter(name: "${name}") {
      appearsIn
    }
  }
`;
export default {
  props: ['characterData'],
  data: () => ({
    appearsIn: [],
    loadingMovies: false,
  }),
  methods: {
    async fetchMovies() {
      this.loadingMovies = true;
      // eslint-disable-next-line max-len
      const { data } = await this.$apollo.query({ query: getCharacterQuery(this.characterData.name) });
      this.appearsIn = data.fetchCharacter[0].appearsIn;
      this.loadingMovies = false;
    },
  },
};
</script>

<style lang="scss">
.character {
  text-align: left;
  flex-basis: calc(50% - 1.5rem);
  margin-bottom: 0.5rem;
  font-size: 20px;
  border: 2px solid #0097e6;
  border-radius: 10px;
  padding: 0.5rem;

  @media only screen and (max-width: 560px) {
    width: 100%;
  }
  &__name {
    font-weight: bold;
  }
  &__more {
    font-size: 1rem;
    border: 2px solid #0097e6;
    background: transparent;
    padding: 1rem;
    border-radius: 200px;
    cursor: pointer;
  }
}
</style>
