<template>
  <a href="/" class="logo">Star Wars Birthday Search</a>
</template>

<script>
export default {
  components: {

  },
};
</script>

<style lang="scss">
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: #0097e6;
  font-size: 40px;
}
</style>
