<template>
  <div class="pagination">
    <div
      class="page"
      v-for="page in pagesList"
      :key="page"
      @click="currentPage = page"
      :class="{'page--active': currentPage === page}"
    >
      {{ page }}
    </div>
  </div>
</template>

<script>
export default {
  props: ['amountOfItems', 'itemsPerPage'],
  data: () => ({
    pagesList: [],
    currentPage: 1,
    sliceIndex: undefined,
  }),
  methods: {
    updatePagesList() {
      const amountOfPages = parseInt(this.amountOfItems, 10) / parseInt(this.itemsPerPage, 10);
      // Create a array of pages based on amount of pages, always round to highest number
      this.pagesList = Array(...Array(Math.ceil(amountOfPages))).map((item, index) => index + 1);
      this.currentPage = 1;
    },
    setSliceIndex() {
      const startOffsetIndex = (this.currentPage * this.itemsPerPage) - this.itemsPerPage;
      const endOffsetIndex =
        this.amountOfItems < parseInt(this.itemsPerPage, 10) ?
          startOffsetIndex + parseInt(this.amountOfItems, 10) :
          startOffsetIndex + parseInt(this.itemsPerPage, 10);

      this.sliceIndex = {
        start: startOffsetIndex,
        end: endOffsetIndex,
      };
    },
  },
  mounted() {
    this.$on('dataUpdated', () => {
      this.setSliceIndex();
    });

    this.updatePagesList();
    this.setSliceIndex();
  },
  watch: {
    currentPage() {
      this.setSliceIndex();
    },
    amountOfItems() {
      this.updatePagesList();
    },
    pagesList() {
      this.setSliceIndex();
    },
    sliceIndex() {
      this.$emit('sliceIndexUpdated', this.sliceIndex);
    },
  },
};
</script>

<style lang="scss">
.pagination {
  display: flex;
  justify-content: center;
}
.page {
  font-size: 24px;

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  &:not(&--active) {
    cursor: pointer;
  }
  &:hover, &--active {
    color: #0097e6;
  }
}
</style>
