<template>
  <div class="search">
    <input type="text" class="search__input" v-model="search" ref="input">
    <span class="search__arrow">⤶</span>
  </div>
</template>

<script>
import { debounce } from 'lodash';

export default {
  data: () => ({
    search: '',
  }),
  mounted() {
    this.$refs.input.focus();
  },
  watch: {
    // Using named function in order to preserve this context
    search: debounce(function emitValue(newValue) {
      this.$emit('updatedSearch', newValue);
    }, 200),
  },
};
</script>

<style lang="scss">
.search {
  margin-bottom: 1rem;
  &__input {
    width: 100%;
    max-width: 320px;
    margin: 0 1rem;
    border: 1px solid #0097e6;
    height: 32px;
    margin-top: 1rem;
    font-size: 24px;
    padding: 0.5rem;
  }
  &__arrow {
    font-size: 50px;
    color: #0097e6;
    font-weight: bold;
  }
}
</style>
