<template>
  <div id="app">
    <Logo />
    <Home />
  </div>
</template>

<script>
import Home from '@/views/Home.vue';
import Logo from '@/components/Logo.vue';

export default {
  components: {
    Home,
    Logo,
  },
};
</script>

<style lang="scss">
html {
  font-size: 16px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
